
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

h1, h2, h3 {
    color: #444;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form button {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #4cae4c;
}

#workouts-list div {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fefefe;
}

#workouts-list button {
    margin-right: 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

#workouts-list button:hover {
    background-color: #c9302c;
}

#workouts-list button:nth-child(2) {
    background-color: #0275d8;
}

#workouts-list button:nth-child(2):hover {
    background-color: #025aa5;
}

#exercise-form {
    display: none;
    margin-top: 20px;
}

#exercise-form label {
    font-size: 14px;
}
button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}
header {
    background: #333;
    padding: 10px 0;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-nav ul li {
    margin: 0 15px;
}

.main-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.main-nav ul li a:hover {
    color: #007BFF;
}
img{
    width: 100%;
    height: 350px;
    object-fit: contain;
}
.content{
    margin-left: 25px;
}
.day{
    font-weight: bold;
    morgin-bottom:5px;
}
footer{
    width: 100%;
    height: 250px;
    background: black;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}